
.featured-places {
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}
.featured-places p {
    padding: 20px ;
    font-size: 16px ;
    color: #7e8083;
    text-align: center;
    
    max-width: 400px; 
    margin: 0 auto; 
    line-height: 1.6;
    
    
}

.section-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 60px;
    font-weight: 550;
}


.places-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    max-width: 1200px; 
    margin: 0 auto; 
}

.place-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1 1 30%;
    max-width: 400px;
    transition: transform 0.3s ease;
    position: relative;
}

.place-card:hover {
    transform: translateY(-5px);
}

.place-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
}


.place-info {
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100px; 
    overflow: hidden;
}


.place-name {
    font-size: 1.5rem;
    color: #0056b3;
    margin: 0;
    transition: transform 0.3s ease;
}

.place-description {
    color: #555;
    font-size: 1rem;
    position: absolute;
    bottom: -40px; 
    opacity: 0;
    transition: all 0.3s ease;
    text-align: center;
}


.place-card:hover .place-description {
    opacity: 1;
    bottom: 15px; 
}

.place-card:hover .place-name {
    transform: translateY(-20px);
}

@media screen and (max-width: 768px) {
    .featured-places {
        padding: 15px;
    }

    .featured-places p {
        font-size: 14px;
        max-width: 300px;
    }

    .section-title {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    .places-container {
        gap: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .place-card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .place-image {
        height: 100px;
    }

    .place-info {
        padding: 10px;
        height: auto;
    }

    .place-name {
        font-size: 1.2rem;
    }

    .place-description {
        font-size: 0.9rem;
    }
}
